#location of the input list
inputList=qaFile.list

#working directory
workingDirectory="${PWD}"

#where to place the final qa plots
#outputDirectory="/afs/cern.ch/work/a/aliqa%det/www/"
outputDirectory="${PWD}/output/aliceqa%det"

#filter out detector option
excludeDetectors="EXAMPLE"

#if set, will run QA only for the scecified detectors
#includeDetectors="TPC"

#logs
logDirectory=${workingDirectory}/logs

#OCDB storage
ocdbStorage="raw://"

#email to
MAILTO="fbellini@cern.ch"

#email detector experts
MAILTO_TPC="marian.ivanov@cern.ch"
MAILTO_T0="alla.maevskaia@cern.ch"

#alien user name
alienUserName="mkrzewic"

#run map - used to associate a runnumber to a year
#for setting of the proper OCDB storage
runMap="
2010 108350 139517    
2011 140441 170593
2012 171590 193766
2013 194482 197692
"

