#location of the input list
inputList=qaFile.list

#working directory
workingDirectory="${PWD}"

#where to place the final qa plots
#outputDirectory="/afs/cern.ch/work/a/aliqa%det/www/"
outputDirectory="${PWD}/output/aliceqa%det"

#filter out detector option
excludeDetectors="EXAMPLE"

#if set, will run QA only for the scecified detectors
#includeDetectors="TPC"

#logs
logDirectory=${workingDirectory}/logs

#OCDB storage
ocdbStorage="raw://"

#mail comes from this email address:
#MAILFROM=""

#email to
MAILTO="fbellini@cern.ch"

#email detector experts
# full list can be taken from  
# https://twiki.cern.ch/twiki/pub/ALICE/PWGPPQualityAssurance/ListOfDetectorMailsForAutomaticQA.txt
MAILTO_TPC="marian.ivanov@cern.ch"
MAILTO_T0="alla.maevskaia@cern.ch"

#whether to send a shour notification with a status summary upon completion to MAILTO
MAILshortSummary=1

#how to send email
MAILdebugInfo=1
MAILfullProductionLog=1

#alien user name
alienUserName="mkrzewic"

