#where to search for qa files
inputList=qaFile.list

#working directory
workingDirectory="${PWD}"

#where to place the final qa plots
#outputDirectory="/afs/cern.ch/work/a/aliqa%det/www/"
outputDirectory="${PWD}/output/aliceqa%det"

#filter out detector option

#logs
logDirectory=${workingDirectory}/logs

#set aliroot
alirootEnv="/home/mkrzewic/alisoft/balice_master.sh"

#OCDB storage
ocdbStorage="raw://"
