EVENTSELECTION: ALL sim

COMPACTGRAPHS: yes

DimuonTrigger: CMULLO-B-NOPF-MUON sim

MuonTrigger: CMSNGL-B-NOPF-MUON sim

FitType : func=PSICB2:histoType=minvJPsi:rebin=2:range=2.2;3.9 sim

FitType: func=PSINA60NEW:histoType=minvJPsi:rebin=2:range=1.5;4.2 sim

FitType : func=PSICB2:histoType=minvPsiP:rebin=2:range=2.0;4.2 sim

FitType : func=PSICOUNT:histoType=minv sim
