
DimuonTrigger: CMUL8-S-NOPF-MUON

MuonTrigger : CMSL7-8-NOPF-MUON

MinbiasTrigger : CINT8-S-NOPF-ALLNOTRD

EventSelection : PSALLHASSPDSPDZQA_RES0.25_ZDIF0.50SPDABSZLT10.00

PairSelection : pRABSETAPDCAMATCHLOWPAIRYPAIRPTIN0.0-15.0

Centrality: V0A

FitType : func=PSIPSIPRIMECB2VWG:rebin=2:histoType=minv:tails=mctails,func=MPTPSIPSIPRIMECB2VWG_BKGMPTPOL2:rebin=2:histoType=mpt

