
DimuonTrigger : CMUL7-B-NOPF-MUFAST

DimuonTrigger : CMUL7-B-NOPF-MUFAST&C0MUL

MuonTrigger : CMSL7-B-NOPF-MUFAST

MinbiasTrigger : CINT7-B-NOPF-MUFAST

EventSelection : ALL

PairSelection : pRABSETAPAIRY real sim
PairSelection : pRABSETAMATCHLOWPAIRY real sim

Centrality : PP real sim

FitType: func=PSIPSIPRIMECB2VWG:rebin=1:histoType=minv:alJPsi=0.984:nlJPsi=5.839:auJPsi=1.972:nuJPsi=3.444

FitType: func=PSIPSIPRIMECB2VWG:rebin=2:histoType=minv:alJPsi=0.984:nlJPsi=5.839:auJPsi=1.972:nuJPsi=3.444

FitType: func=PSIPSIPRIMECB2VWG:rebin=4:histoType=minv:alJPsi=0.984:nlJPsi=5.839:auJPsi=1.972:nuJPsi=3.444

DimuonTrigger : CMULLO-B-NOPF-MUON

FitType:func=PSICOUNT:histoType=minv sim
