# Lines starting with '#' are ignored!
# treename can be a comma separated list, ATTENTION: no space between tree names allowed

QA.TPC.location http://aliqatpc.web.cern.ch/aliqatpc
# QA.TPC.location /hera/alice/local/QAoutput/TPC
QA.TPC.timeout 86400
QA.TPC.filename trending.root
QA.TPC.treename tpcQA,trending

QA.rawTPC.location http://aliqatpc.web.cern.ch/aliqatpc
QA.rawTPC.timeout 86400
QA.rawTPC.filename OCDBscan.root
QA.rawTPC.treename dcs

QA.EVS.location http://aliqaevs.web.cern.ch/aliqaevs
# QA.EVS.location /hera/alice/local/QAoutput/EVS
QA.EVS.timeout 86400
QA.EVS.filename trending.root
QA.EVS.treename trending

QA.TRD.location http://aliqatrd.web.cern.ch/aliqatrd
QA.TRD.timeout 86400
QA.TRD.filename trending.root
QA.TRD.treename trending

QA.TOF.location http://aliqatof.web.cern.ch/aliqatof
QA.TOF.timeout 86400
QA.TOF.filename trending.root
QA.TOF.treename trending

QA.ITS.location http://aliqaits.web.cern.ch/aliqaits/
QA.ITS.timeout 86400
QA.ITS.filename trending.root
QA.ITS.treename trending

# Resource not working right now. Not sure why, probably one needs ALIROOT to open the file:
# "Warning in <TFile::Init>: no StreamerInfo found in bla/trending.root therefore preventing schema evolution when reading this file."
# QA.ITS.location http://aliqaits.web.cern.ch/aliqaits
# QA.ITS.timeout 86400
# QA.ITS.filename trending.root
# QA.ITS.treename trending

Logbook.location http://aliqamod.web.cern.ch/aliqamod
Logbook.timeout 86400
Logbook.filename logbook.root
Logbook.treename logbook

TriggerClasses.location http://aliqamod.web.cern.ch/aliqamod
TriggerClasses.timeout 86400
TriggerClasses.filename logbook_trigger_classes.root
TriggerClasses.treename logbook_trigger_classes

# For downloading the master page
MonALISA.ProductionCycle.location https://alimonitor.cern.ch/prod/?t=1&res_path=mif
MonALISA.ProductionCycle.timeout 86400
MonALISA.ProductionCycle.filename productionCycle.root
MonALISA.ProductionCycle.treename productionCycle

# For downloading the information for specific IDs
MonALISA.ProductionCycleID.location https://alimonitor.cern.ch/prod/jobs.jsp?t=%s&res_path=mif
MonALISA.ProductionCycleID.timeout 86400
MonALISA.ProductionCycleID.filename productionCycleID.root
MonALISA.ProductionCycleID.treename productionCycleID

MonALISA.MC.location https://alimonitor.cern.ch/MC/?res_path=mif
MonALISA.MC.timeout 86400
MonALISA.MC.filename MC.root
MonALISA.MC.treename MC

MonALISA.RCT.location https://alimonitor.cern.ch/configuration/index.jsp?partition=%s&pass=%s&res_path=mif
MonALISA.RCT.timeout 86400
MonALISA.RCT.filename RCT.root
MonALISA.RCT.treename RCT
