*.d
*.eps
*.pcm
*.pdf
*.png
*.pyc
*.rpm
*.so
*~
.*.swp
.\#*
[0-9][0-9][0-9][0-9][0-9][0-9]*.xml
AnalysisResults*.root
AutoDict_*_.cxx
EventStat_temp.root
OCDB*.xml
ROOTMERGE-*.root
\#*
analysis.jdl
analysis.root
analysis.sh
analysis_validation.sh
event_stat.root
fileList.*.txt
lib*_so
myAnalysis.C
outputs_valid
stderr
stdout
wn.xml
