a:link {color:#bb4444;text-decoration:none;}
a:visited {color:#bb4444;text-decoration:none;}
a:active {color:#ff0000; text-decoration:underline;}
a:hover {color:#ff0000; text-decoration:underline;}

body, td, div, span {
    font-size:16px;
    font-family:arial,verdana,geneva,helvetica;
    color:#000000;
    line-height:1.25;
}

h1 {
    font-size:40px;
    font-family:verdana,verdana,helvetica;
    font-weight:normal;
    color:#000000;
}

h2 {
    font-size:24px;
    font-family:arial,helvetica;
    font-weight:normal;
    color:#000000;
}

h3 {
    font-size:20px;
    font-family:verdana,geneva,arial,helvetica;
    font-weight:normal;
    color:#000000;
}

h4 {
    font-size:18px;
    font-family:verdana,arial,helvetica;
    font-weight:normal;
    color:#000000;
}

code {
    color:#0000bb;
}

pre {
    color:#0000bb;
    margin-top:0.25em;
    margin-bottom:0.25em;
}

strong {
    color:#0000bb;
}

input {
    font-size:16px;
    font-family:arial,verdana,geneva,helvetica;
    color:#bb00ff;
}

i, dt {
    color:#006600;
}

p { 
    margin-bottom:0.5em;
}

li { 
    margin-top:0.5em;
    margin-bottom:0.5em;
}

ul, ol { 
    margin-top:0.5em;
    margin-bottom:0.5em;
}

#toc {
    margin-bottom: 40px;
    margin-left: 40px;
    width: 500px;
}
#toc ol {
    list-style-type: none;
    overflow:hidden;
}
#toc li {
    list-style-type: none;
    background: url(dot.gif) repeat-x bottom right;
    padding-bottom: 2px;
    overflow:hidden;
}
#toc a {
    list-style-type: none;
    background:#fff;
    padding:0 3px 0 0;
    float:left;
    overflow:hidden;
}
#code li {
        color:#0000bb;
	list-style-type: none;
	margin-top:1px;
	margin-bottom:1px;
        font-family: monospace;
}
