# 
#  Config file for the makeEventList.sh
#  Define some variable for the cases: local and GRID
#

# trigger settings: LHC10h  LHC11h --> ptMinHighPt="14.0", ptMinV0s="6.0",  LHC12h --> ptMinHighPt="8.0", ptMinV0s="4.0"
export ptMinHighPt="8.0";
export ptMinV0s="4.0";
export isCosmic=1;
export commonPrefix=/alice/data
export rawDataPrefix=alien://      # either -->  alien://  or /hera/alice/alien/raw 
export batchCommand="qsub -cwd -V -l h_rt=24:0:0,h_rss=4G -b y -r y -o out.log -e err.log"
export useBatchFrarm=1

# local and alien directory which should be synchronized 
export localPrefixRawFilteringDir="/hera/alice/marsland/alice-tpc-notes/JIRA/PWGPP-126/filtering" 
export alienPrefixRawFilteringDir="/alice/cern.ch/user/p/pwg_pp/triggeredRaw/alice/data"

# code directory --> it should be "$ALICE_PHYSICS/../src/PWGPP/rawmerge/"
export codeDir=/hera/alice/marsland/alice-tpc-notes/JIRA/PWGPP-126/filtering/2015/LHC15c/code

# main directory for the raw data chunks --> should be used by aliensync.sh script copy dir
export heraTriggeredRawDir=/hera/alice/alien/triggeredRaw/

# timeout in sec to be used in aliensync.sh
export copyTimeoutAlien=10000


