# Config file for MU.sh
#
# The script is supposed to run on all data.
# However, sometimes some issues (e.g. with CDB, Physics Selection)
# lead to crashes or empty output.
# We hence need a way to configure some of the options of the script,
# or to manually remove some runs.


type:period:pass=data:LHC15h:muon_calo_pass2
excludeRuns=233555