# **************************************************************************
# * Copyright(c) 1998-2014, ALICE Experiment at CERN, All rights reserved. *
# *                                                                        *
# * Author: The ALICE Off-line Project.                                    *
# * Contributors are mentioned in the code where appropriate.              *
# *                                                                        *
# * Permission to use, copy, modify and distribute this software and its   *
# * documentation strictly for non-commercial purposes is hereby granted   *
# * without fee, provided that the above copyright notice appears in all   *
# * copies and that both the copyright notice and this permission notice   *
# * appear in the supporting documentation. The authors make no claims     *
# * about the suitability of this software for any purpose. It is          *
# * provided "as is" without express or implied warranty.                  *
# **************************************************************************

# Module include folder - DO NOT FORGET TO EDIT
include_directories(${AliRoot_SOURCE_DIR}/MUON/DA)

# Additional include folders in alphabetical order - DO NOT FORGET TO EDIT
include_directories(
#                    ${AliRoot_SOURCE_DIR}/STEER/STEERBase
                   )

# Set the static dependencies for this DA
# Make sure that static build is enabled for all the dependencies
# If you are not sure what dependecies to put contact aliroot-git-admins@cern.ch
set(STATIC_DEPENDENCIES MUONcalib-static MUONcore-static MUONmapping-static MUONraw-static RAWDatarec-static) # DO NOT FORGET TO EDIT

# Generate the DA using DetectorName, Algortihm
# The DA file has to be named DetectorNameAlgortihmda.cxx
# generateDA("DetectorName" "Algorithm" "${STATIC_DEPENDENCIES}")
generateDA("MUON" "TRG" "${STATIC_DEPENDENCIES}") # DO NOT FORGET TO EDIT
