#
# LHC13d
#
195682-195873: MB=CINT7-B-NOPF-ALLNOTRD MUL=CMUL7-B-NOPF-MUON MSL=CMSL7-B-NOPF-MUON MSH=CMSH7-B-NOPF-MUON
#
# LHC13e
195949-196311: MB=CINT7-B-NOPF-ALLNOTRD MUL=CMUL7-B-NOPF-MUON MSL=CMSL7-B-NOPF-MUON MSH=CMSH7-B-NOPF-MUON
#
# LHC13f
#
196474-197388: MB=CINT7-B-NOPF-MUON MUL=CMUL7-B-NOPF-MUON MSL=CMSL7-B-NOPF-MUON MSH=CMSH7-B-NOPF-MUON
196433: MB=CINT7-B-NOPF-ALLNOTRD MUL=CMUL7-B-NOPF-ALLNOTRD MSL=CMSL7-B-NOPF-ALLNOTRD MSH=CMSH7-B-NOPF-ALLNOTRD
#
#

#OCDBPATH: local:///cvmfs/alice-ocdb.cern.ch/calibration/data/2013/OCDB
OCDBPATH: raw://

EVENTSELECTION: PSALLHASSPDSPDZQA_RES0.25_ZDIF0.50SPDABSZLT10.00 real 

EVENTSELECTION: ALL real sim

COMPACTGRAPHS: yes

DimuonTrigger: CMUL7-B-NOPF-MUON

MuonTrigger: CMSL7-B-NOPF-MUON

MinbiasTrigger : CINT7-B-NOPF-ALLNOTRD

PairSelection: pRABSETAPDCAMATCHLOWPAIRYPAIRPTIN0.0-15.0 real

Centrality: V0A

FitType: func=PSIPSIPRIMECB2POL2EXP:rebin=2:histoType=minv:tails=mctails:fsigmapsip=1.:range=2.0;5.0

FitType: func=MPTPSIPSIPRIMECB2VWG_BKGMPTPOL2:range=2.0;5.:rebin=2:histoType=mpt

DimuonTrigger: CMULLO-B-NOPF-MUON sim

MuonTrigger: CMSNGL-B-NOPF-MUON sim

FitType : func=PSICB2:histoType=minvJPsi:rebin=2:range=2.2;3.9 sim

FitType: func=PSINA60NEW:histoType=minvJPsi:rebin=2:range=1.5;4.2 sim

FitType : func=PSICB2:histoType=minvPsiP:rebin=2:range=2.0;4.2 sim

FitType : func=PSICOUNT:histoType=minv sim
