/*
Implementations of template for QA via css convention.
Style created for this example:
todo: add link on some test function
todo: add nice fitter | priority: high @Boris
fixme: ApplyStyle doesn't work with huge name of object like this "hisK0DMassQPtTgl(0,100,0:80:20:20,0,10)(0)(gaus)(div=0,,class=Mass,dOption=E)[0].calss(Mass)" mb problem in class=Mass   check this again (23.04.2018)
{
    TFile::SetCacheFileDir(".");
    TFile *finput = TFile::Open("http://aliqatrkeos.web.cern.ch/aliqatrkeos/performance/AliPainterTest.root","CACHEREAD");
    TTree *tree = (TTree *) finput->Get("hisPtAll");
    TObjArray *hisArray = new TObjArray();
    TList *keys = finput->GetListOfKeys();
    for (Int_t iKey = 0; iKey<keys->GetEntries();iKey++) {
        TObject *o = finput->Get(TString::Format("%s;%d", keys->At(iKey)->GetName(), ((TKey *) keys->At(iKey))->GetCycle()).Data());
        hisArray->AddLast(o);
    }
    AliDrawStyle::RegisterCssStyle("figTemplateHex", AliDrawStyle::ReadCSSFile("$AliRoot_SRC/STAT/test/figTemplateHex.css"));
    // Use Canvas41 default layout
    TCanvas *canvasQA = new TCanvas("canvasQA", "canvasQA", 1200, 800);
    AliPainter::DivideTPad(canvasQA,"<horizontal>[1b,1t,1,1]", "Canvas41");
    canvasQA->cd(1);
    AliPainter::DrawHistogram(hisArray, "hisPtAll(0,10)(0)()(div=1,drawOpt=E,class=PtAll)");
    AliPainter::DrawHistogram(hisArray, "hisPtITS(0,10)(0)()(div=1,drawOpt=E,class=PtIts)");
    AliPainter::DrawHistogram(hisArray, "hisK0DMassQPtTgl(1,1)(2)()(div=1,drawOpt=E,class=Tgl)");
    AliPainter::DrawHistogram(hisArray, "hisK0DMassQPtTgl(20,80,40:80:20:20,0,10)(0)(name=gaus,option=W)(class=Mass,drawOpt=E)");
    AliDrawStyle::ApplyCssStyle(canvasQA, "figTemplateHex");

    TCanvas *canvasQA1 = new TCanvas("canvasQA", "canvasQA", 1200, 800);
    AliPainter::DivideTPad(canvasQA1, "<horizontal>[1]", "Canvas1");
    canvasQA1->cd(1);
    AliPainter::DrawHistogram(hisArray, "hisK0DMassQPtTgl(20,80,40:80:20:20,0,10)(0)(name=gaus,option=W)(class=Mass,drawOpt=E,ylim=[<mean>/2,<mean>*4])",0,0,0,4);
    AliDrawStyle::ApplyCssStyle(canvasQA1, "figTemplateHex");
}
*/

TH1*  {
    title-font:63;
    label-font:63;
    marker-size: 1;
    line-width: 0.5;
    line-style: 7;
    title-size: 20;
    label-size: 20;
    marker-style: 20,21,24,27;
    marker-color: #7f7f7f,#ff0000,#3700ff,#00dd44;
    line-color: #7f7f7f,#000000,#3700ff,#00dd44;
    axis-color: #000000;
    title-offset:3.0;
}

.PtAll  {
    marker-style: 20;
    marker-color: #7f7f7f;
    line-color: #7f7f7f;
    label-size: 20;
}

.PtIts  {
    marker-style: 21;
    marker-color: #ff0000;
    line-color: #ff0000;
    label-size: 20;
}

.Tgl    {
    marker-style: 24;
    marker-color: #3700ff;
    line-color: #3700ff;
    label-size: 20;
}

.Mass {
    marker-style: 20,21,24,27;
    marker-color: #7f7f7f,#ff0000,#3700ff,#00dd44;
    line-color: #7f7f7f,#000000,#3700ff,#00dd44;
    axis-color: #000000;
    label-size: 20;
}

TPad {
    gridX:         0;
    gridY:         0;
    fill-color:    #fefefe;
    tickX:         1;
    tickY:         1;
    border-mode:   0;
    margin-bottom: 0.15;
}

.Canvas41 {     /*default canvas layout for  4x1 pad canvas*/
    height:        1200;  /*to fix - read pixel as a size to be like CSS*/
    width:         800;
    gridX:         1;
    gridY:         1;
    fill-color:    #fefefe,#fefefe,#fefefe,#fefefe;
    tickX:         1,1,1,1;
    tickY:         1,1,1,1;
    border-mode:   0,0,0,0;
    margin-bottom: 0.15;
    margin-right:  0.05;
    /* legend-format: <name> <range=%f>*/
}

.Canvas22 {     /*default canvas layout for  2x2 pad canvas*/
    height:        1200;  /*to fix - read pixeal as a size to be like CSS*/
    width:         800;
    gridX:         1;
    gridY:         1;
    fill-color:    #fefefe,#fefefe,#fefefe,#fefefe;
    tickX:         1,1,1,1;
    tickY:         1,1,1,1;
    border-mode:   0,0,0,0;
    margin-bottom: 0.15;
    /* legend-format: <name> <range=%f>*/
}

.Canvas1 { /*default canvas layout for  1 pad canvas*/
    height:        500;
    width:         700;
    gridX:         0;
    gridY:         0;
    fill-color:    #fefefe;
    tickX:         1;
    tickY:         1;
    border-mode:   0;
    margin-bottom: 0.15;
    margin-right:  0.05;
    margin-top:    0.1;
    /* legend-format: <name> <range=%f>*/
}
