TGraph   {
  marker-size:   1.3,1.6,2.2;
  marker-color:  2,4,6;
  marker-style:  6,7,8;
  line-color:    3,6,9;
  line-style:    1,2,3;
  line-width:    1.9,2.4,2.9;
  fill-color:    2;
  fill-style:    2;

}


TH1F   {
  marker-size:   1.2,2.4,4.8;
  marker-color:  1,3,5;
  marker-style:  6,8,10;
  line-color:    8,10,12;
  line-style:    4,5,6;
  line-width:    2.1,2.5,2.9;
  fill-color:    2;
  fill-style:    2;
}

TPad {
  gridX:         1;
  gridY:         1;
  fill-color:    2;
  tickX:         0;
  tickY:         0;
  border-mode:   1;
  margin-bottom: 0.35;
}